@use '../abstracts';

.gallery {
    // border: 2px solid #000;
    background: abstracts.$background-main-dark;
    max-width: 100%;
    padding: 10vh 5vw;
    
    .grid-container {
        // border: 2px solid blue;
        display: grid;
        overflow: hidden;
        // grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
        grid-auto-rows: auto;
        grid-auto-rows: auto;
        grid-template-columns: auto auto;
        gap: 0.25rem;
        background-color: #ddd;

        @include abstracts.md {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));

        }

        &:has(:hover){
        img {
            &:not(:hover){
                opacity: .8;
            }
        }
    }
    }

    .image-container {
        // border: 2px solid red;
        margin: 10vh auto;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));


        // @include abstracts.md {
        //     grid-template-columns: repeat(3, 1fr);
        // }
    }

    img {
        border-radius: 0.25rem;
        // border: 2px solid #000;
        // width: 100%;
        // height: 100%;
        // object-fit: cover;
        // object-position: center;
        transition: 250ms ease;
        &:hover {
            scale: 1.025;
        }


        
    }

    

}