@use '../abstracts';
@use '../variables';

form {
    padding: 5vh 5vw 10vh;
    background-color: abstracts.$background-gray;
    // max-width: 800px;
    margin-inline: auto;

    @include abstracts.lg {
        margin-block: 5vh;
        width: 80vw;
        border-radius: abstracts.$border-radius-md;
    }

    fieldset {
        width: 100%;
        margin: 5vh auto 10vh;
        padding: 0.5rem;
        height: auto;
        overflow-y: auto;

        background-color: #fff;
        background-color: #fafafa;
        border: 1px solid abstracts.$overlay-blue-dark;
        border-radius: abstracts.$border-radius-md;
        
        transition: 500ms;
        position: relative;
        isolation: isolate;
        
        // LAST FIELDSET MARGIN-BOTTOM TO SEND BUTTON
        &:last-of-type {
            margin-bottom: 5vh;
        }

        @include abstracts.md {
            padding: 1rem;
            max-width: 600px;
        }
        @include abstracts.md {
            // padding: 0 20vw;
        }

        .field-text {
            font-weight: 600;
            margin-bottom: 0.5rem;
        }

        .field-btn {
            position: absolute;
            right: .5em;
            top: 0;
            display: block;
            width: 3em;
            padding: .8em 2em;
            border-radius: 15px;

            // border: 1px solid green;
            &::after,
            &::before {
                position: absolute;
                display: grid;
                place-items: center;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 5px;
            }

            &::before {
                content: 'open';
            }

            &::after {
                content: 'close';
                opacity: 0;
            }

            // button active
            &.active {
                &::before {
                    opacity: 0;
                }

                &::after {
                    opacity: 1;
                }
            }
        }


        .input-div {
            width: 100%;

            label {
                margin-top: .5em;
            }

            input {
                text-overflow: ellipsis;
            }
        }

        // FIELDSET HOVER CLASS
        // &:hover {
        //     scale: 1;
        // }

    }

    legend {
        margin: 0 auto;
        padding: 0.25rem 1rem;

        font-size: abstracts.$font-clamp-sm;
        text-transform: capitalize;

        background: abstracts.$background-dark;
        color: abstracts.$text-light;

        border-radius: abstracts.$border-radius-sm;
        border: 1px solid #333a;

        cursor: help;
    }


    .radio-field {
        margin-bottom: 1rem;
        
        label {
            text-transform: capitalize;
            padding-inline: 0.25rem;
        }

        input {
            margin-bottom: 1rem;
        }

    }

    .input-div {
        display: flex;
        flex-direction: column;

        margin: 0 0 1rem 0;
        padding: .5em .1em;
        transition: .3s ease;
        position: relative;
        color: abstracts.$text-dark;
        // scale: .97;


        label {
            // border: 1px solid green;
            transform: translateY(-.5em);
            text-transform: capitalize;
            transition: .2s;
            font-weight: 600;
            display: flex;
            align-items: center;
            gap: 0.25rem;

            span {
                color: #000a;
                text-transform: lowercase;
                font-size: abstracts.$font-clamp-xsm;
            }

        }

        input,
        textarea {
            outline: 1px solid #000;
            outline-offset: -3px;
            padding: 0.75rem;
            transition: .3s ease;
            // background-color: abstracts.$overlay-blue-darker;
            // color: abstracts.$text-brand;
            border-radius: 5px;
            border: none;
            font-size: abstracts.$font-clamp-sm;


            &:focus {
                outline: 1px dashed lime;

                &::placeholder {
                    // color: abstracts.$text-brand;
                    // opacity: 1;
                }
            }

            &:invalid {

                // background-color: #161616;
                // color: abstracts.$text-light;
                // border: none;
                outline: 1px dashed abstracts.$text-link;
            }
        }

        textarea {
            padding: .5em;
            font-size: 1.2em;

            &:invalid {
                // background-color: abstracts.$invalid;
            }
        }

        ::placeholder {
            color: hsl(0, 0%, 64%);
            color: abstracts.$text-light-trans;
            text-transform: capitalize;
            opacity: .5;
        }

        // services div
        &.services {
            input {
                margin: .5em 0;
            }
        }

        // input hover state
        &:hover {
            label {
                transform: translateY(0) translateX(.5em);
            }
        }
    }

    // submit button       
        #submit-btn {
            display: flex;
            align-items: center;
            gap: 1rem;
    
            // width: max-content;
            margin: 0 auto 5vh;
            padding: 0.75rem;
    
    
            color: abstracts.$text-light;
            text-transform: uppercase;
            font-size: abstracts.$font-clamp-sm;
            font-weight: 500;
            letter-spacing: .0125em;
    
            border: none;
            border-radius: abstracts.$border-radius-md;
    
            position: relative;
            isolation: isolate;
            cursor: default;
            transition: 250ms ease;
    
            @include abstracts.sm {
                cursor: pointer;
            }
            @include abstracts.md {
                justify-content: center;
                cursor: pointer;
            }
    
            &.btn-bg {
    
                background: #5f0315;
                &::before {
                        background: linear-gradient(hsl(17, 63%, 59%), #D15F33);
                    }
    
                &::after {
                    background: #D15F33;
                }
    
            }
    
            &:hover {
                color: abstracts.$text-brand;
                .icon {
                        rotate: 30deg;
                    }
            }

            &:active {
                .icon {
                    rotate: 45deg;
                }
            }

        }
}