@use '../abstracts';

.hero {
    // border: 2px solid green;
    background-color: abstracts.$background-gray;
    background-color: abstracts.$background-main;
    background-color: abstracts.$background-navbar;
    position: relative;

    color: abstracts.$text-brand;

    height: 100dvh;
    height: 95vh;
    padding: 10vh 5vw 5vh;
    
    overflow: hidden;
    isolation: isolate;
    text-align: center;

    // &::after {
    //     content: '';
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     background-color: abstracts.$background-gray;
    //     translate: 30% 50%;
    //     opacity: .125;
    //     rotate: 45deg;
    //     z-index: -1;
    // }

    @include abstracts.lg {
        padding: 30vh 5vw 0;
        // border: 2px solid red;/
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        // align-items: center;
        grid-template-areas: 'content image';
    }

}

.hero-img {
    grid-area: image;
    position: absolute;
    top: 0;
    border: 2px solid blue;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
    clip-path: polygon(100% 0, 0% 0%, 100% 100%);

    // display: block;
    // margin: 0 auto 5vh;
    // width: 100%;
    // height: 40vh;
    // max-height: 450px;
    
    border-radius: abstracts.$border-radius-md;
    overflow: hidden;
    // position: relative; 

    @include abstracts.md {
        position: relative;
        height: 50vh;
        clip-path: unset;
    }


    img {
        object-fit: cover;
        object-position: 20% center;
        width: 100%;
        height: 100%;
    }

    // @include abstracts.md {
    //     position: absolute;
    //     inset: 0;
    //     height: 95vh;
    //     width: 100%;
    // }

}

.hero-content {
    grid-area: content;
    padding: 10vh 0vw 1rem;
    padding: 1rem;
    border-radius: .25rem;
    top: 40vh;
    position: relative;
    border: 1px solid abstracts.$text-link;
    text-align: left;
    background-color: abstracts.$background-main-trans;

    @include abstracts.md {
        top: unset;
    }
    
    @include abstracts.lg {
        padding: 0;
        text-align: left;
        // align-self: flex-start;
    }
    
    .hero-title {
        // margin-bottom: 1rem;
        max-width: 800px;
        margin-inline: auto;
        

        h1 {
            text-transform: capitalize;
            font-size: abstracts.$font-clamp-lg;
            margin-bottom: 0.5rem;

            span {
                color: abstracts.$span-crimson;
            }

            
        }
    
        h2 {
            margin-bottom: 0.25rem;
            &::first-letter {
                text-transform: capitalize;
            }

            // color: abstracts.$overlay-blue-light;
            font-size: abstracts.$font-clamp-md;
            font-weight: 500;
        }

    }

    p {
        margin: 1rem 0 0;
        position: relative;
        
        a {
            color: abstracts.$text-dark;
            transition: .2s;
            &:hover {
                color: abstracts.$text-brand;
                text-decoration: none;
            }
        }

        

    }

}

.hero-cta-btns {
    width: 100%;
    margin: 1.5rem auto 0;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    @include abstracts.lg {
        margin: 1rem 0;
        justify-content: start;
    }

    a {
        color: abstracts.$text-light;
        // color: #C3A356;
        background: abstracts.$cta-btn;
        background: #c3a356;
        background: #D15F33;
        background: linear-gradient(hsl(17, 63%, 59%), #D15F33);

        width: max-content;
        padding: 0.5rem 2rem;
        border-radius: 0.5rem;
        
        font-size: abstracts.$font-clamp-sm;
        font-weight: 600;
        text-decoration: none;
        text-transform: capitalize;
        letter-spacing: .15rem;
        
        // &::before {
        //     background: linear-gradient(0deg, abstracts.$overlay-blue-darkest,
        //                                     abstracts.$overlay-blue-dark, 
        //                                     abstracts.$overlay-blue-darkest);
        
        // }

        &:hover, &:focus {
        color: abstracts.$text-brand;

    }

    }

}

