@use '../abstracts';


#nav {
    // border: 2px solid yellow;
    position: fixed;
    top: 0;
    height: abstracts.$nav-height;
    width: 100%;
    padding: 1.25rem 5vw;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: abstracts.$overlay-blue-darkest;
    background-color: #746A49;
    background-color: abstracts.$background-dark;
    background-color: abstracts.$background-navbar;
    z-index: 10;
    box-shadow: 0 0.25rem 1rem hsla(0, 0%, 0%, 0.250);
    
    a {
        color: #C3A356;
        color: abstracts.$text-light;
        color: hsl(42, 48%, 90%);

        &:hover {
            color: abstracts.$text-light;
        }

    }

    @include abstracts.lg {
        padding: 1.5em 10vw;
    }

    .brand {
        width: 10rem;
        overflow: none;
        position: relative;

        a {
            display: block;

            text-transform: uppercase;
            text-decoration: none;
            font-size: abstracts.$font-clamp-xsm;
            
            width: max-content;
            padding: 0.125rem 0.5rem;
            // color: abstracts.$text-light;
            
            border: 1px solid;
            border-right-color: transparent;
            border-left-color: transparent;
            border-radius: abstracts.$border-radius-md;

            cursor: default;
            transition: 200ms;
            position: relative;

            img {
                width: 100%;
            }
            
            &:active {
                transform: scale(.95);
                color: abstracts.$text-light;
            }

            @include abstracts.sm {
                cursor: pointer;
                &:hover {
                    transform: scale(.95);
                }
            }

        }

    }

    
}

// MOBILE FIRST NAVBAR LIST
.nav-list {
    background-color: abstracts.$overlay-blue-darker;
    background-color: abstracts.$background-dark;
    color: abstracts.$text-light;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    right: -110%;
    top: abstracts.$nav-height;
    transition: 500ms;
    padding: 15vh 5vw 0;
    z-index: -2;

    ul {
        list-style: none;
        
        li {
            margin-bottom: 2em;
            // border: 1px solid red;
            display: flex;
            gap: 0.5rem;

            a {
                display: block;
                text-decoration: none;
                text-transform: capitalize;
                color: abstracts.$text-light;
                width: 100%;
                cursor: default;

                &:hover {
                    // color: abstracts.$text-brand;
                }

            }

        }
    }
    
    // active menu
    @media (max-width: 768px){
        ul {
            border: 1px solid #fff7;
            width: 95%;
            padding: 1em;
            
            display: flex;
            flex-direction: column;
            align-items: right;
            justify-content: center;
            gap: 1rem;

            border-right-color: transparent;
            border-left-color: transparent;
            border-radius: abstracts.$border-radius-md;

            li {
                align-items: center;

                background: abstracts.$overlay-blue-light;
                background: abstracts.$background-navbar;
                border-radius: abstracts.$border-radius-md;
                padding-inline: 0.25rem;
                margin: 0;
                border: 1px solid transparent;
                transition: 150ms;

                a {
                    padding: 0.5rem 0.25rem;
                }


                i {
                    margin: 0 ;
                    flex-basis: 15%;
                    transition: 250ms;
                    // border: 1px solid red;
                }

                &:hover {
                    background: transparent;
                    border-top-color: abstracts.$border-light;
                    border-bottom-color: abstracts.$border-light;

                    .icon {
                        translate: 0.25rem;
                    }
                }
            }

        }

        &.active {
            right: -5vw;
            
        }
}

    // desktop nav-list
    @include abstracts.lg {
        position: relative;
        background-color: abstracts.$background-dark;
        right: 0;
        top: 0;
        padding: .3em 0;
        padding: 0.5rem;
        border-radius: 5px;
        min-height: auto;
        height: 5vh;
        z-index: 5;
        // border: 1px solid blue;
        // width: 50vw;
    ul {
        // border: 1px solid yellow;
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 100%;

        li {
            margin: 0;
            padding: .5em 1em;
            display: flex;
            align-items: center;

            a {
                display: block;
                font-size: 0.95rem;
                cursor: pointer;
            }

            .icon {
                opacity: .65;
            }
            
            &:hover {
                .icon {
                    opacity: 1;
                }
            }
        }
    }
    }

    // end of desktop nav-list
}

// DETAILS BUTTON
.details {
    text-transform: uppercase;
    font-size: abstracts.$font-clamp-xsm;
    text-decoration-color: transparent;
    text-underline-offset: 5px;  
    transition: 150ms;

    &:hover {
        text-decoration-color: inherit;
        text-underline-offset: 2px;
    }
}

 // TOGGLE BUTTON
    .nav-toggle {
        display: grid;
        place-items: center;

        border: 1px solid abstracts.$brand;
        border: 1px solid transparent;
        border-radius: 50%;
        width: 1.5rem;
        height: 1.5rem;
        // border: 2px solid red;
        // position: relative;
        position: absolute;
        right: 5vw;
        // padding: 1em;
        transition: .3s ease;
        cursor: default;

        .bar {
            position: absolute;
            position: relative;
            width: 60%;
            width: 100%;
            height: 2px;
            background-color: abstracts.$nav-toggle;
            transition: .3s;

            &::before,
            &::after {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: inherit;
                transition: .3s ease;
            }

            &::before {
                transform: translateY(.3em);
            }

            &:after {
                transform: translateY(-.3em);
            }
        }

        &:active {
            background-color: abstracts.$overlay-blue-dark;
        }

        &.active {
            // transform: scale(.95) rotate(30deg);
            // rotate: 30deg;
            transition: 500ms ease;

            .bar {
                &::before {
                    // transform: translateY(0);
                    transform: translateX(-0.25rem) translateY(.3em);
                }

                &::after {
                    // transform: translateY(0);
                    transform: translateX(0.25rem) translateY(-.3em);
                }
            }

        }

        @include abstracts.sm {
            &:hover {
                background-color: abstracts.$overlay-blue-dark;
        
            }
        }

        // HIDE TOGGLE ON DESKTOPS
        @include abstracts.lg {
            display: none;
        }
    }